.footer{
    position: fixed;
}

.profil-info {
    text-align: center;
}

.profil-info img {
    width: 20vw;
    /* height: 30px; */

}
.bredkrum {
    margin-top: 15px;
}

.vasOglasDugme, .vasOglasPregled {
    background-color: #8ca982;
    font-weight: bold;
    color: white;
}