#demo{
    width: 80%;
    margin: 0 auto;
}

.karakteristike table {
    width: 80%;
}

.karakteristike {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer{
    position: fixed;
}

.pretraga .col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

.pretraga .col select, .pretraga .col input, .pretraga .col button{
    height: 100%;
}

.rezultati {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.rezultat img {
    height: 300px;
}

.baner {
    width: 80%; 
    height: 50%;
    background-color: #8CA982;
    color: #f6f2f1;
}

.zivotinje {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.zivotinja {
    background-color: #8ca982;
    border-radius: 5px;
    height: fit-content;
    width: 350px;
    padding: 2px;
    padding-bottom: 5px;
    font-weight: bolder;
    color: white;
}

.zivotinja img {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 50%;
    border-radius: 25%;
}

.zivotinja button {
    background-color: #BA6965;
}

.zivotinja button:hover, .zivotinja img:hover {
    transform: scale(1.2);
}

.zivotinja button a {
    font-weight: bolder;
    color: #262b27;
    text-decoration: none;
}