.slike {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    
}

.slika-zivotinje, .karakteristike table{
    width: 80%;
}

.footer{
    position: fixed;
}

.pretraga .col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

.pretraga .col select, .pretraga .col input, .pretraga .col button{
    height: 100%;
}

.rezultati {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.rezultat img {
    height: 300px;
}
